@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Lato&display=swap");

$FONT_FAMILY: "Lato", Helvetica, Arial, sans-serif;
$FONT_FAMILY_TITLE: "Finger Paint", Helvetica, Arial, sans-serif;

/* theme colors */
$PRIMARY: #81b7c7ff;
$SECONDARY: #1d324aff;
$ACCENT: #1d324aff;
$ERROR: #e36666;
$WARNING: #fffb7d;

/* Health bar */
$BAR_BORDER_RADIUS: 40px;
$BAR_HEIGHT: 20px;
$HEALTH_BG_COLOR_1: #a4e4b3;
$HEALTH_BG_COLOR_2: #c47d69;
$EMPTY_BG_COLOR_1: #f1f1f1;
$EMPTY_BG_COLOR_2: #e3e2e2;

/* Button */
$BUTTON_BG_COLOR_1: #c96b59;
$BUTTON_BG_COLOR_2: #ffb4ad;
$BUTTON_PADDING: 10px 15px;
$BUTTON_COLOR: white;
$BUTTON_TEXT_TRANSFORM: uppercase;
$BUTTON_LETTER_SPACING: 1.2px;
$BUTTON_BORDER_RADIUS: 10px;
/* disabled button */
$BUTTON_BG_COLOR--DISABLED_1: #dddddd;
$BUTTON_BG_COLOR--DISABLED_2: #cccccc;
