/* theme colors */
$PRIMARY: #f1f1f1;
$SECONDARY: lightgray;
$ACCENT: #02aab0;
$ERROR: rgb(227, 102, 102);
$WARNING: #fffb7d;

/* Health bar */
$BAR_BORDER_DARIUS: 40px;
$HEALTH_BG_COLOR_1: #85ffbd;
$HEALTH_BG_COLOR_2: #fffb7d;
$EMPTY_BG_COLOR_1: #f1f1f1;
$EMPTY_BG_COLOR_2: #e3e2e2;

/* Button */
$BUTTON_BG_COLOR_1: #02aab0;
$BUTTON_BG_COLOR_2: #00cdac;
$BUTTON_PADDING: 10px 15px;
$BUTTON_COLOR: white;
$BUTTON_TEXT_TRANSFORM: uppercase;
$BUTTON_LETTER_SPACING: 1.2px;
$BUTTON_BORDER_RADIUS: 10px;
